.line-through {
  text-decoration: line-through;
}

.input-grid {
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: max-content max-content;

  label {
    text-align: right;
    margin-right: 2em;
  }

  label:after {
    content: ":";
  }
}
